@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Обнуление всех стилей */
*{
	padding: 0;
	margin: 0;
	border: 0;
	/*color: rgb(255, 255, 255);*/
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*  */

.travel-portal{
    background: url(../image/background.jpg);
    top: 0px;
    width: 1440px;
    height: 765px;
}

.header-menu{
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);
    width: 1440px;
    height: 90px;
}
.namelogo{
    position: relative;
    top: 28px;
    left: 154px;
    font-size: 33px;
    color: rgb(255, 255, 255);
}

.logo{
    position: relative;
    width: 30px;
    height: 30px;
    top: -5px;
    left: 120px;
    
}

.spisok-menu {
    position: relative;
    display: flex;
    bottom: 26px;
    left: 494px;
    gap: 42px;
}
.navigation {
    width: 98px;
    font-size: 16px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Red Hat Text';
}
.button-header{
    
}
.but{
    padding: 10px, 229px;
    border-radius: 10px;
    font-size: 19px;
    background-color: #0D606F;
    color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Red Hat Text', sans-serif; 
}
.head {
    position: absolute;
    width: 103px;
    height: 41px;
    top: 25px;
    left: 1217px;
   
}
.search {
}
.submit {
}
